<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table class="table-sanpham" [value]="datas" [tableStyle]="{'min-width': '150rem'}" [paginator]="true" [rows]="12">
    <ng-template class="top-table" pTemplate="caption">
        <div class="flex align-items-center justify-content-between"
            style="padding: 10px; display: grid; grid-template-columns: 90% 5% 5%; align-items: center; font-size: 30px;">
            <th style="border-style: none;">Tài khoản</th>
            <th style="border-style: none;"><p-button icon="pi pi-refresh" title="Làm mới"
                    (click)="getAll()"></p-button></th>
        </div>
    </ng-template>
    <ng-template class="header-table" pTemplate="header">
        <tr style="height: 45px;">
            <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Tên hiển thị</th>
            <th>Vai trò</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Ngày tạo</th>

            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-datas>
        <tr>
            <td>{{datas.id}}</td>
            <td>{{datas.tenDangNhap}}</td>
            <td>{{datas.tenHienThi}}</td>
            <td>{{datas.vaiTro ? 'Người dùng' : 'Người quản trị'}}</td>
            <td>{{datas.gioiTinh ? 'Nam' : 'Nữ'}}</td>
            <td>{{datas.ngaySinh}}</td>
            <td>{{datas.email}}</td>
            <td>{{datas.soDienThoai}}</td>
            <td>{{datas.ngayTao}}</td>
            <td>
                <button class="button"><a [routerLink]="['/suataikhoan', datas.id]" title="Sửa"><i
                            class="fa-regular fa-pen-to-square"></i></a></button>
                <button class="button"><a (click)="deleteAccountById(datas.id)" title="Xóa"><i
                            class="fa-solid fa-trash"></i></a></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Tổng {{datas ? datas.length : 0 }} tài khoản.
        </div>
    </ng-template>
</p-table>