<div style="margin-top: 144px; padding: 40px 0;">
  <div class="container">
  <div class="magiam">
    <h5>Phiếu giảm giá</h5>
    <div >
      <div class="list_ma" *ngFor="let item of listItemMa">
        <div class="ma_item" style="display: flex;">
          <div style="display: flex; align-items: center; width: 100px; justify-content: center ; width: 15%;">
            <i class="fa-solid fa-ticket" style="font-size: 90px; color: rgb(234, 170, 74);"></i>
          </div>
          <div style="width: 15%; display: flex; align-items: center;">
            <div>
              <div>Mã: {{item.ma}}</div>
              <div>Giảm: {{item.luongGiam}}%</div>
            </div>
          </div>
          <div style="width: 40%; display: flex; align-items: center; justify-content: center;">
              <div>{{item.moTa}}</div>
          </div>
          <div style="width: 20%; display: flex; align-items: center; justify-content: center;">
            <div>Số lượng còn lại: {{item.soLuong}}</div>
          </div>
            <div style="width: 10%; display: flex; align-items: center; justify-content: center;">
              <button pButton type="button" class="p-button-raised p-button-rounded p-button-information" style="border-radius: 25px; padding: 5px 12px;justify-content: center; font-size: 14px; " (click)="themMa(item.id)">Lưu</button>
            </div>
        </div>
      </div>

    </div>
    <div style="margin-top: 20px;"></div>
    <h5>Mã giảm giá của bạn:</h5>
    <div>
      <div class="list_ma" *ngFor="let item of listItemMaDaLuu" style="opacity: 0.7;">
        <div class="ma_item2" style="display: flex;">
          <div style="display: flex; align-items: center; width: 100px; justify-content: center ; width: 15%;">
            <i class="fa-solid fa-ticket" style="font-size: 90px; color: rgb(234, 170, 74);"></i>
          </div>
          <div style="width: 15%; display: flex; align-items: center;">
            <div>
              <div>Mã: {{item.ma}}</div>
              <div>Giảm: {{item.luongGiam}}%</div>
            </div>
          </div>
          <div style="width: 60%; display: flex; align-items: center; justify-content: center;">
              <div>{{item.moTa}}</div>
          </div>
          <div style="width: 20%; display: flex; justify-content: center; align-items: center;">
            <button pButton pRipple type="button" icon="fas fa-check" class=" p-button-rounded p-button-success" style="border-radius: 24px;"></button>
          </div>
        </div>
      </div>
    </div>



  </div>
  </div>
  </div>

<p-toast></p-toast>
