


.first{
  width: 100%;
overflow: auto;
}
.item__img img{
  width: 100%;
  height: 360px;
  object-fit: cover;
  transition: 0.6s;
}
.item__img{
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
}
.item{
  padding: 5px 10px;
  width: calc(25%);
  float: left;
}
.button_item{
  padding: 0px 5px 10px 5px;
}
.item__des p{
  text-align: left;
  margin-bottom: 8px;
}
.item__des .gia{
  font-weight: 700;
    line-height: 22px;
    display: block;
    font-family: Montserrat;
    color: #333f48;
}
.item__des .ten{
  font-family: Montserrat;
  white-space: nowrap; /* Chỉ hiển thị chữ trên 1 dòng */
  overflow: hidden;    /* Ẩn nội dung dư thừa */
  text-overflow: ellipsis; /* Hiển thị dấu "..." khi nội dung bị tràn */
}
.danhmuc_con{
  background-color: aliceblue;
  top: 100px;
  padding: 10px;
  box-shadow: 0 1px 7px rgba(0, 0, 0,0.2);
}
.dmcon{
  margin-left: 20px;
}
.dmcon p {
  margin-bottom: 2px;
  transition: 0.3s;
  padding: 3px 10px;
}
.dmcon p:hover{
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(229, 243, 255);
}

.item__img {
  overflow: hidden;
}
.item__img:hover img{
  scale: 1.1;
}
.item__img:hover .button_item{
  bottom: -6px;
}
.item__img .button_item{
  transition: 0.4s;
  bottom: -60px;
}
.item{
  transition: 0.3s;
}

label {
  display: inline-block;
  position: relative;
  padding: 10px;
  border: 3px solid #d8d8d8;
  border-radius: 50%;
  margin-right: 5px;
  overflow: auto;
}

/* ////////////////////////////// */
.product-item {
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
  }

  .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

.tenloai{
  font-family: Montserrat;
  font-size: 16px;
  color: gray;
  font-weight: bold;
  margin-left: 10px;
}

.filter__container{
  display: flex;

  justify-content: space-between;

}
.filter{
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: 0.3s;
  padding: 8px;
}
.filter:hover{
  background-color: lightgray;
  cursor: pointer;
}
.filter p{
  margin: 0 0 0 10px;
}

.con{
  background-color: white;
  display: none;
  position: absolute;
}
.con div{
  padding: 5px 10px;
  transition: 0.3s;
}
.con div:hover{
  padding: 5px 10px;
  background-color: beige;
}
.cha:hover .con{
  display: block;
  width: 180px;
  top: 35px;
  left: 0px;
}
.cha{
  position: relative;
}
.dm_item p{
  transition: 0.3s;
}
.dm_item p:hover{
  background-color: rgb(245, 221, 251);
  cursor: pointer;
}

:host ::ng-deep .p-carousel .p-carousel-indicators {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

:host ::ng-deep .p-carousel-indicator .p-link{
  height: 4px;
}
