
        <p-chart width="1200" height="400" type="bar" [data]="data" [style]="{}"></p-chart>
        <div style="display: flex; justify-content: space-around; margin-top: 30px; ">
          <div>
            <p-chart width="400" height="400" type="pie" [data]="data1" [style]="{}"></p-chart>
          </div>
          <div >
              <p-chart type="bar" width="800" height="400" [data]="data2"></p-chart>
          </div>
        </div>

        <div style="display: flex; justify-content: space-around; margin-top: 30px; ">

          <div>
            <p-chart width="1200" height="400" type="line" [data]="data4" [style]="{}"></p-chart>
          </div>
        </div>


        <div style="display: flex; justify-content: space-around; margin-top: 30px; ">
          <div>
            <p-chart width="600" height="400" type="line" [data]="data3" [style]="{}"></p-chart>
          </div>
          <div>
            <p-chart width="600" height="400" type="line" [data]="data5" [style]="{}"></p-chart>
          </div>
        </div>


