<div [class.visible]="sidebarVisible" class="sidebar" style="position:fixed; z-index: 100;">
    <ul>
        <li><a [routerLink]="['/dashboard']"><i class="fa-solid fa-tv"></i>Dashboard</a></li>
        <li><a [routerLink]="['/sanpham']"><i class="fa-solid fa-shirt"></i>Sản phẩm</a></li>
        <li><a [routerLink]="['/anhsanpham']"><i class="fa-solid fa-image"></i>Ảnh sản phẩm</a></li>
        <li><a [routerLink]="['/loaisanpham']"><i class="fa-solid fa-layer-group"></i>Loại sản phẩm</a></li>
        <li><a [routerLink]="['/donhang']"><i class="fa-solid fa-box"></i>Đơn hàng</a></li>
        <li><a [routerLink]="['/magiamgia']"><i class="fa-solid fa-ticket"></i>Mã giảm giá</a></li>
        <li><a [routerLink]="['/gopy']"><i class="fa-solid fa-comment-dots"></i>Góp ý</a></li>
        <li><a [routerLink]="['/taikhoan']"><i class="fas fa-user"></i>Tài khoản</a></li>
    </ul>
</div>
