.header {
  background-color: rgb(211, 69, 13);
  color: #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  margin-left: 5px;
}
.fa-bars{
  font-size: 24px;
  margin-right: 30px;
}
.fa-store {
  font-size: 24px;
  margin-left: 10px;
}
i {
  color: white;
  cursor: pointer;
}